python-dotenv==1.0.1
Markdown==3.7

# Django dependencies
django==4.2.22
djangorestframework==3.15.2
django-cors-headers==4.7.0
requests==2.32.3
django-phonenumber-field[phonenumberslite]==8.0.0

# Integrations
medsenger-api==0.1.73

# Production deploy
psycopg2-binary==2.9.10
sentry-sdk[django]==2.22.0
gunicorn==23.0.0
