python-dotenv==1.0.0
Markdown==3.5.1

# Django dependencies
django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.0
requests==2.31.0
django-phonenumber-field[phonenumberslite]==7.2.0

# Integrations
medsenger-api==0.1.60

# Production deploy
psycopg2-binary==2.9.9
sentry-sdk[django]==1.33.1