<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.33/vue.global.prod.min.js"
            integrity="sha512-0iutDUhdPATJxtLxUQeakh5i6m0XgfrmLsr+J6ThPkWPDXsjc+55OgmPaRxu0UhgQZ3sWlklQBgDcUZfVhE5iA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
            integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
            integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="   crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-2">
    <div id="app">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script>
    const baseUrl = "{{ base_url }}"
    const agentToken = "{{ agent_token }}"

    axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'

    const app = Vue.createApp({
        delimiters: ['[[',']]'],
        data() {
            return {
                contractFormsLoading: false,
                contractTimeSlotsLoading: false,
                callsLoading: false,

                connectedForms: [],
                forms: [],
                calls: [],
                nextCallFetchLink: null,
                
                selectedConnectedForm: null,
                timeHourSelected: -1,
                timeMinuteSelected: -1,

                patient_phone: null,
                patient_name: null,
            }
        },
        methods: {
            fetchContract() {
                let url_contract = `${baseUrl}/medsenger/settings/contract/`
                axios.get(url_contract, { params: { agent_token: agentToken } })
                    .then((response) => {
                        this.patient_phone = response.data.patient_phone
                        this.patient_name = response.data.patient_name
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            fetchContractConnectedForms() {
                this.contractFormsLoading = true
                let url_forms = `${baseUrl}/medsenger/settings/contract/connected_forms/`
                axios.get(url_forms, { params: { agent_token: agentToken } })
                    .then((response) => {
                        this.connectedForms = response.data
                        this.contractFormsLoading = false
                    })
                    .catch((error) => {
                        console.log(error)
                        this.contractFormsLoading = false
                    })
            },
            fetchContractsCalls(fromScratch = false) {
                let url_calls
                if (this.nextCallFetchLink && !fromScratch) {
                    url_calls = this.nextCallFetchLink
                } else {
                    url_calls = `${baseUrl}/medsenger/settings/contract/calls/?agent_token=${agentToken}`
                }
                this.callsLoading = true
                axios.get(url_calls)
                    .then((response) => {
                        if (fromScratch) {
                            this.calls = response.data.results
                        } else {
                            this.calls = this.calls.concat(response.data.results)
                        }
                        this.nextCallFetchLink = response.data.next
                        this.callsLoading = false
                    })
                    .catch((error) => {
                        console.log(error)
                        this.callsLoading = false
                    })
            },
            deleteForm(connectedFormId) {
                let url = `${baseUrl}/medsenger/settings/contract/connected_forms/${connectedFormId}/`
                axios.delete(url, { params: { agent_token: agentToken } })
                    .then((response) => {
                        this.fetchContractConnectedForms()
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            addForm(scenario_id) {
                let url_forms = `${baseUrl}/medsenger/settings/contract/connected_forms/`
                let data = { form: scenario_id }
                axios.post(url_forms, data, { params: { agent_token: agentToken } })
                    .then((response) => {
                        this.fetchContractConnectedForms()
                        $('#addContractModal').modal('hide')
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            addTimeSlot() {
                let datetime = new Date(1970, 1, 1, this.timeHourSelected, this.timeMinuteSelected)
                let currentHours = ("0" + datetime.getUTCHours()).slice(-2)
                let currentMinutes = ("0" + datetime.getUTCMinutes()).slice(-2)
                let datetimeString = `${currentHours}:${currentMinutes}:00`
                
                let sameTimeslot = this.connectedForms
                    .find((form) => form.id === this.selectedConnectedForm)
                    .time_slot_set
                    .find((timeSlot) => timeSlot.time === datetimeString)
                    
                if (sameTimeslot) {
                    $('#AddTimeSlot').modal('hide')
                    return
                }
                
                let url = `${baseUrl}/medsenger/settings/contract/time_slots/`
                let data = {
                    time: datetimeString,
                    connected_form: this.selectedConnectedForm,
                }
                axios.post(url, data, { params: { agent_token: agentToken } })
                    .then((response) => {
                        this.fetchContractConnectedForms()
                        $('#AddTimeSlot').modal('hide')
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            removeTimeSlot(id) {
                let url = `${baseUrl}/medsenger/settings/contract/time_slots/${id}/`
                axios.delete(url, { params: { agent_token: agentToken } })
                    .then((response) => {
                        this.fetchContractConnectedForms()
                        $('#AddTimeSlot').modal('hide')
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            fetchAvailableForms() {
                let url = `${baseUrl}/forms/`
                axios.get(url, { params: { agent_token: agentToken } })
                .then((response) => {
                    this.forms = response.data
                })
                .catch((error) => {
                    console.log(error)
                })
            },
            formatTimeSlotTime(timeString) {
                let datetime = new Date('1970-01-01T' + timeString + 'Z')
                let currentHours = ("0" + datetime.getHours()).slice(-2)
                let currentMinutes = ("0" + datetime.getMinutes()).slice(-2)
                return `${currentHours}:${currentMinutes}`
            },
            parseDateTime(dateTimeString) {
                let now = new Date()
                let date = new Date(`${dateTimeString}Z`)
                
                let isToday = date.getDate() === now.getDate() &&
                                date.getMonth() === now.getMonth() &&
                                date.getFullYear() === now.getFullYear()

                if (isToday) {
                    return `Сегодня в ${date.toLocaleString(undefined, {
                        timeStyle: "short",
                    })}`
                } else if (date.getFullYear() === now.getFullYear()) {
                    return date.toLocaleString(undefined, {
                        day: "numeric",
                        month: "long",
                        hour: "2-digit",
                        minute: "2-digit",
                    })
                } else {
                    return date.toLocaleString(undefined, {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                        hour: "2-digit",
                        minute: "2-digit",
                    })
                }
            },
            getClassForState(state) {
                return state === 'SUCCESS' ? 'text-bg-success' : 'bg-secondary'
            },
            getCallDuration(call) {
                if (call.state === 'SUCCESS' || 
                    call.state === 'THE_CALLEE_HAS_NOT_ANSWERED' ||
                    call.state === 'THE_CALLEE_STOPPED_CALL' ||
                    call.state === 'DENIED_BY_USER' ||
                    call.state === 'FAILED_DURING_SCENARIO' || 
                    call.state === 'THE_CALLEE_DID_NOT_ANSWER_THE_QUESTION') {
                    
                    let createdAt = new Date(`${call.created_at}Z`)
                    let updatedAt = new Date(`${call.updated_at}Z`)
                    let differenceInSeconds = (updatedAt - createdAt) / 1000

                    let minutes = ~~(differenceInSeconds / 60)
                    let seconds = ~~(differenceInSeconds % 60)

                    let formattedMinutes = ("0" + minutes).slice(-2)
                    let formattedSeconds = ("0" + seconds).slice(-2)
                    
                    return `${formattedMinutes}:${formattedSeconds}`
                } else {
                    return ""
                }
            },
        },
        mounted() {
            this.fetchContract()
            this.fetchContractConnectedForms()
            this.fetchContractsCalls()

            let now = new Date()
            this.timeHourSelected = now.getHours()
            this.timeMinuteSelected = now.getMinutes()
        },
        template: `
            <h1>Опросники по телефону</h1>
            <h4><small class="text-body-secondary" v-if="patient_name != null">Пациент: [[ patient_name ]] <span v-if="patient_phone != null">([[ patient_phone ]])</span></small></h4>

            <div v-if="patient_phone == null" class="alert alert-danger mt-5" role="alert">
                Номер телефона пациента не найден! Пожалуйста, проверьте, чтобы пациент заполнил номер телефона в настройках профиля.
            </div>

            <h5 class="mt-5">Подключенные опросники</h5>

            <button class="btn btn-primary mt-2" type="button" 
                    aria-current="true" data-bs-toggle="modal" data-bs-target="#addContractModal"
                            @click="fetchAvailableForms()">Добавить опросник</button>

            <div v-if="contractFormsLoading" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
            </div>
            <div v-else>
                <div v-for="connectedForm in connectedForms" class="card mt-2">
                    <div class="card-body">
                        <h3 class="card-title">[[ connectedForm.form.name ]]</h3>
                        <button type="button" class="btn btn-danger" @click="deleteForm(connectedForm.id)">Удалить</button>
                        <h5 class="mt-5">Предпочтительное время для звонков</h5>
    
                        <p><small class="text-body-secondary">
                            Агент будет пытаться совершить звонок в первый назначенный слот, если не добавить слоты, то звонков не будет.
                            Если опросник будет заполнен успешно, то агент позвонит только на следующий день,
                            иначе будет пытаться совершить звонок в следующие слоты.
                            Пожалуйста, уточните у пациента удобное время для звонка и заполните слоты (лучше 3-4).
                        </small></p>
        
                        <div class="list-group">
                            <div v-for="timeSlot in connectedForm.time_slot_set" class="list-group-item d-flex justify-content-between align-items-center">
                                [[ formatTimeSlotTime(timeSlot.time) ]]
                            <button type="button" class="btn btn-danger" @click="removeTimeSlot(timeSlot.id)">Удалить</button>
                            </div>
                            <button type="button" class="list-group-item list-group-item-action active"
                                    @click="selectedConnectedForm = connectedForm.id"      
                                    aria-current="true" data-bs-toggle="modal" data-bs-target="#AddTimeSlot">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="mt-5" v-if="calls.length">
                Звонки 
                <span v-if="callsLoading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <button v-else type="button" @click="fetchContractsCalls(true)" class="btn">🔄</button>
            </h5>
            <div class="list-group mb-3">
                <div  v-for="call in calls" class="container list-group-item">
                    <div class="row">
                        <div class="col text-left">
                            <svg v-if="call.is_incoming" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0zm-12.2 1.182a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            <svg v-else xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            <span class="ms-2">[[ parseDateTime(call.updated_at) ]]</span>
                            <span class="ms-2 badge text-bg-info">[[ call.form.name ]]</span>
                            <span class="ms-2 badge " :class="getClassForState(call.state)">[[ call.state_ru_localized ]]</span>
                            <span class="ms-2">[[ getCallDuration(call) ]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <button v-if="nextCallFetchLink" class="btn btn-secondary mb-5" type="button" @click="fetchContractsCalls()">
                <span v-if="callsLoading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                Загрузить еще историю вызовов
            </button>

            <div class="modal fade" id="AddTimeSlot" tabindex="-1" aria-labelledby="AddTimeSlotLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Выберите удобное время</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <div class="row">
                                  <div class="col">
                                    <select class="form-select" v-model="timeHourSelected">
                                      <option disabled value="-1">Час</option>
                                      <option v-for="(n, i) in 24">[[ i ]]</option>
                                    </select>
                                  </div>
                                  <div class="col">
                                    <select class="form-select" v-model="timeMinuteSelected">
                                      <option disabled value="-1">Минута</option>
                                      <option v-for="(n, i) in 60">[[ i ]]</option>
                                    </select>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button v-if="timeHourSelected !== -1 && timeMinuteSelected !== -1" type="button"
                                    class="btn btn-primary" @click="addTimeSlot()">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addContractModal" tabindex="-1" aria-labelledby="addContractModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Выберите опросник</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <button v-for="form in forms" type="button" class="list-group-item list-group-item-action active"
                                        aria-current="true" @click="addForm(form.scenario_id)">
                                    Добавить: [[ form.name ]]
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        `
    }).mount("#app");
</script>
</body>
</html>